---
const personalImageAlt = "Facundo Valerio picture"
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
            class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
        <p>
            Mi nombre es Facundo Valerio. Empecé en la programación sin un rumbo muy claro desarrollando webs con PHP. Hoy
            <strong>
                soy fundador de La Nueva Carta Digital.
            </strong>
        </p>

        <p>
            Busco marcar un antes y un después en
            <strong>
                la relación entre las empresas no digitales y el software.
            </strong>
        </p>
    </div>

    <img src="/me.png" class="rounded-full size-64 order-1 md:order-2" alt={personalImageAlt}/>

</article>
