---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Fundador de La Nueva Carta Digital",
    description:
      "Una solución integral para restaurantes. Gestión de menús, promociones, órdenes y más. Todo en una sola plataforma.",
    link: "https://lanuevacarta.digital",
  },
  {
    date: "Octubre 2021",
      title: "Primer experiencia formal como desarrollador",
      description:
          "Luego de un tiempo de aprendizaje, de algunos proyectos personales sin mucha repercusión más que la formativa, logré encontrar la primera oportunidad formal como desarrollador. Fue interesante poder aplicar conocimientos adquiridos en años anteriores el sector retail.",
  },
    {
    date: "Anteriormente...",
      title: "Distintos trabajos en el sector retail y logística",
      description:
          "Tuve la oportunidad de trabajar en distintas empresas del sector retail y logística, adquiriendo conocimiento que luego me sería útil en mi carrera como desarrollador, y que aún a día de hoy continúo aplicando en mis proyectos.",
  },
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
